@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
/* Font from: https://fonts.google.com/specimen/MedievalSharp*/

html, body {
  height:100%;
  width:100%;
  background-image: url("../resources/dungeon6.jpg");
  /*Background source: https://www.pinterest.jp/pin/640988959434185107/*/
  background-repeat:no-repeat;
  background-size:cover;
  overflow:hidden;
}


/* Sections of Layout
-------------------------------------- */
/* Generic styles for demo purposes
-------------------------------------- */
.container {
  font-family: 'MedievalSharp', cursive;
  color:#eacd8d; 
  height:98%;
  width:98%;
}

.container > * {
  background-image:url("../resources/Paper3.png");
  padding: 1em;
  border:18px;
  border-image:url("../resources/Border8.png") 18 repeat;
  border-style:solid;
  /*Custom Border information taken from learning during the homepage creation*/
  position:relative
}

/* Typically, you wouldn't specify a height or min-height on this, instead allowing your actual content (i.e., text, images, etc.) to dictate the height of your content area. But since this example has very minimal content, I've set a min-height to mimic a taller content area. */
.content {
  min-height:40%;
}

/* Layout is stacked vertically by default (for narrower viewports), so give some breathing room between the sections. */
/* Select all elements where parent is a container */
.container > * {
  margin-bottom: 2%;
}

/* Now let's apply grid for wider viewports. */
@media screen and (min-width: 40em) {
  .container > * {
    margin-bottom: 0;
  }
  /* Define the grid */
  .container {
    display: grid;
    margin-left:0.5%;
    margin-top:2%;
    grid-template-columns: 84% 15% ;
    grid-row-gap: 1%;
    grid-column-gap: 0.5%;
    grid-template-rows: 10% 80%;
  }
  /* Place items on the grid */
  .header {
    grid-column: 1 / span 2;
    padding:0;
    text-align:center;
    vertical-align: middle;
    line-height: 2%;
  }


  .sidebar {
    grid-row-end: span 1;
  }
  .content {
    grid-column: 1;
  }

  #returnButton {
    border:5px;
    border-style:solid;
    border-image:url("../resources/Border11.png") 5 repeat;
    bottom:50px;
    text-align: center;
    width: 100%;
    height: 50px;
  }

  #mainGameBackground {
    bottom:50px;
    width:100%;
    height:98%;
    margin:auto;
  }

  h3 {
    text-align:center;
    border:5px;
    border-image:url("../resources/Border11.png") 5 repeat;
    border-style:solid;
    padding:10px;
    font-size:18px;
    margin:auto;
  }

  #controls {
    text-align:center;
    border:5px;
    border-image:url("../resources/Border11.png") 5 repeat;
    border-style:solid;
    padding:10px;
    font-size:13px;
    margin:auto;
  }

  #aimofgame {
    text-align:center;
    border:5px;
    border-image:url("../resources/Border11.png") 5 repeat;
    border-style:solid;
    padding:10px;
    font-size:16px;
    margin:auto;
  }
}