
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-spacing:10px; /*Once you border-collapse, the spacing doesn't matter*/
}

td, th {
  border: 1px solid salmon;
  text-align: left;
  padding: 3px;
  width:30%; /*to resize the length of the cell*/
}

tr:nth-child(even) {
  background-color: #dddddd;
}
