@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
/* Font from: https://fonts.google.com/specimen/MedievalSharp*/

html, body {
  height:100%;
  width:100%;
  background-image:url("../resources/dungeon2.jpg");
  /*Background source:https://www.deviantart.com/alynspiller/art/Dungeon-Passage-280728956;*/
  overflow-y:hidden;
}

a {
  color:#d4af37;
}
/* Sections of Layout
-------------------------------------- */
/* Generic styles for demo purposes
-------------------------------------- */
.container {
  font-family: 'MedievalSharp', cursive;
  color:#eacd8d;
  height:98%;
  width:98%;
}

.container > * {
  background-image:url("../resources/Paper3.png");
  /*Source:https://www.google.com/search?q=translucent+old+paper+texture&tbm=isch&ved=2ahUKEwjgu76X16rrAhU58TgGHeuNBQsQ2-cCegQIABAA&oq=translucent+old+paper+texture&gs_lcp=CgNpbWcQAzoGCAAQBxAeOggIABAHEAUQHjoICAAQCBAHEB5QlcMBWNrQAWC30QFoAXAAeACAAT6IAdYEkgECMTOYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=E-U-X6DmKbni4-EP65uWWA&bih=674&biw=1519&hl=en&hl=en#imgrc=j06Hv5ON9EhuNM;*/ 
  padding: 1em;
  border:18px;
  border-image:url("../resources/Border8.png") 18 repeat;
  border-style:solid;
/*Obtained information on how to add a custom border image from (And formulate nicely):https://www.youtube.com/watch?v=lpf-5mG9CGg
Integrated it with the solid function for border to appear:https://stackoverflow.com/questions/18868207/border-image-not-displaying;*/
/*Border design J credits go to: https://www.google.com/search?q=pixel+J&tbm=isch&ved=2ahUKEwi89NDh26rrAhWC6jgGHZ1DCWkQ2-cCegQIABAA&oq=pixel+J&gs_lcp=CgNpbWcQAzIECCMQJzICCAAyAggAMgIIADICCAAyAggAMgIIADICCAAyAggAMgIIADoGCAAQCBAeOgQIABAeUOcLWOYPYIQRaABwAHgAgAE4iAHDAZIBATSYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=4Ok-X7yEOILV4-EPnYelyAY&bih=674&biw=1519&hl=en&hl=en#imgrc=rRfhunmYQv52yM;*/
  position:relative
}

/* Typically, you wouldn't specify a height or min-height on this, instead allowing your actual content (i.e., text, images, etc.) to dictate the height of your content area. But since this example has very minimal content, I've set a min-height to mimic a taller content area. */
.content {
  min-height: 40%;
  overflow-y: hidden;
}

/* Layout is stacked vertically by default (for narrower viewports), so give some breathing room between the sections. */
/* Select all elements where parent is a container */
.container > * {
  margin-bottom: 2%;
}

/* Now let's apply grid for wider viewports. */
@media screen and (min-width: 40em) {
  .container > * {
    margin-bottom: 0;
  }
  /* Define the grid */
  .container {
    display: grid;
    grid-template-columns: 18% 60% 18%;
    grid-gap: 2% 2%;
    grid-template-rows: 14% auto 12%;
  }
  /* Place items on the grid */
  .header {
    grid-column: 1 / span 3;
    padding:0;
    text-align:center;
    vertical-align: middle;
    line-height: ;
    /*OMG AFTER LIKE SEARCHING TOP RIGHT CENTER, I FOUND MY ANSWER IN THIS FORUM:https://stackoverflow.com/questions/12004816/text-align-doesnt-center-and-middle-itself-when-using-a-border-radius;*/
  }
  .sidebar {
    grid-row-end: span 2;
    text-align:center;
  }

  .sidebar h2 {
  border:5px;
  border-image:url("../resources/Border11.png") 5 repeat;
  border-style:solid;
  padding:10px;
  font-size:18px;
  margin:auto;
  }

  .content {
    grid-column: 2;
    text-align: top;
    overflow-y: scroll;
  }

  #Mod {
    margin-right:auto;
    border:5px;
    border-image:url("../resources/Border11.png") 5 repeat;
    border-style:solid;
    width:33.2%;
    text-align:center;
    line-height: 0%;
    float:left;
  }

  #AboutMe {
    margin-right:auto;
    border:5px;
    border-image:url("../resources/Border11.png") 5 repeat;
    border-style:solid;
    width:64.3%;
    height:12.9%;
    text-align:center;
    float:right;
  }

  #AboutMe2 {
    margin-right:auto;
    width:64.3%;
    height:12.9%;
    text-align:center;
    float:right;
    font-size:13px;
  }

  .footer {
    text-align: center;
    line-height: 0%;
    vertical-align: middle;
    line-height: 0%;
  }

  #pic {
    width:80%;
    height:auto;
  }

  #FinalProjSubmission {
    text-align:center;
    border:5px;
    border-image:url("../resources/Border11.png") 5 repeat;
    border-style:solid;
    padding:10px;
    font-size:20px;
    margin:auto;
  }

  #OlderProjVer {
    text-align:center;
    border:5px;
    border-image:url("../resources/Border11.png") 5 repeat;
    border-style:solid;
    padding:10px;
    font-size:13px;
    margin:auto;
  }

}